version: "2"
services:
  mongo:
    image: "mongo:8.2.5"
    volumes:
      - /data/mongodb/db:/data/db
    ports: 
      - "27017:27017"
  node:
    image: "node:8.17.0-slim"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/home/node/app
    ports:
      - "3000:3000"
    command: "node_modules/.bin/nodemon -L --exec npm start"
  sendmail:
    image: "node:8.17.0"
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    command: "node bin/send_email_service.js"